.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.vi-prompt-image {
  width: 100%;
  height: 100%;
  padding: 0;
}

.vi-display-text {
   text-align: center;
  font-size: 24px;
}

.vi-example-text {
   text-align: center;
  font-size: 15px;
  color: darkgrey;
}

.vi-input-invalid {
  background-color: #F44;
  color: #822;
}

.jumbled-word-container {
  text-align: center; 
}

.jumbled-letter {
  margin-left: 4px;
  margin-right: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 34px;
  font-size: 20px;
}

@-webkit-keyframes flash-red {
    0% {
        background-color: inherit;
        opacity: 1;
    }
    70% {
        background-color: #F44;
    }
    100% {
        background-color: inherit;
    }
}

@keyframes flash-red {
    0% {
        background-color: inherit;
        opacity: 1;
    }
    70% {
        background-color: #F44;
    }
    100% {
        background-color: inherit;
    }
}

.vi-input-incorrect-animate {
    -webkit-animation-name: flash-red;
    -webkit-animation-duration: 700ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
  
    animation-name: flash-red;
    animation-duration: 700ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes flash-green {
    0% {
        background-color: inherit;
        opacity: 1;
    }
    70% {
        background-color: #4F4;
    }
    100% {
        background-color: inherit;
    }
}

@keyframes flash-green {
    0% {
        background-color: inherit;
        opacity: 1;
    }
    70% {
        background-color: #4F4;
    }
    100% {
        background-color: inherit;
    }
}

.vi-input-correct-animate {
    -webkit-animation-name: flash-green;
    -webkit-animation-duration: 700ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
  
    animation-name: flash-green;
    animation-duration: 700ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.vertical-progress {
    overflow: hidden;
    background-color: #337ab7;
    border-radius: 6px;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.vertical-progress-bar {
    float: left;
    width: 100%;
    font-size: 20px;
    padding: 1px 1px 1px 1px;
    color: #000;
    text-align: center;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: height .6s ease;
    -o-transition: height .6s ease;
    transition: height .6s ease;
}