<h3>Add to your vocabulary.</h3>
<br/>
<form ng-submit="createVocabularyItem(newItem)" class="form-horizontal" name="userForm">
  <div class="form-group">
	<label class="control-label col-xs-2">Displayed:</label>
	<div class="col-xs-10">
	  <input name="display" type="text" class="form-control" placeholder="Required" ng-model="newItem.display" required />
	</div>
  </div>
  <div class="form-group">
	<label class="control-label col-xs-2">Answer:</label>
	<div class="col-xs-10">
	  <input name="answer" type="text" class="form-control" placeholder="Required" ng-model="newItem.answer" required />
	</div>
  </div>
  <div class="form-group">
	<label class="control-label col-xs-2">Example:</label>
	<div class="col-xs-10">
	  <input name="example" type="text" class="form-control" placeholder="eg. The cat died" ng-model="newItem.example" />
	</div>
  </div>
  <div class="form-group">
	<label class="control-label col-xs-2">Image:</label>
	<div class="col-xs-10">
      <label class="btn btn-default btn-file">
        Browse<input type="file" file="file" required style="display: none"/>
      </label>
      {{file.name}}
	</div>
  </div>
  <div class="form-group">
	<div class="col-xs-offset-2 col-xs-10">
	  <button type="submit" class="btn btn-primary form-control">Add Item</button>
	</div>
  </div>
</form>