<div class="jumbotron">
  <h1>Welcome!</h1>
  <p class="lead">
    Your have {{numInReview}} items to review
  </p>
  <p><a class="btn btn-lg btn-success" ui-sref="root.quiz">Start Reviewing</a></p>
</div>

<div class="col-xs-2">
  <vertical-progress-bar current="total1" total="totalItems" height="70" label="1" />
</div>
<div class="col-xs-2">
  <vertical-progress-bar current="total2" total="totalItems" height="70" label="2" />
</div>
<div class="col-xs-2">
  <vertical-progress-bar current="total3" total="totalItems" height="70" label="3" />
</div>
<div class="col-xs-2">
  <vertical-progress-bar current="total4" total="totalItems" height="70" label="4" />
</div>
<div class="col-xs-2">
  <vertical-progress-bar current="total5" total="totalItems" height="70" label="5" />
</div>
<div class="col-xs-2">
  <vertical-progress-bar current="total6" total="totalItems" height="70" label="6" />
</div>