<div ng-show="items.length > 0">
  <div class="col-xs-offset-4 col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="vi-prompt-image" ng-src="{{imageSource}}">
      </div>
    </div>
  </div>
  <form autocomplete="off" spellcheck="false" ng-submit="submitAnswer(userAnswer)" class="form-horizontal" name="userForm">
    <div class="form-group">
      <div class="col-xs-offset-4 col-xs-4">
        <input name="userAnswer" type="text" class="form-control vi-input" ng-class="inputClass" ng-model="userAnswer" required />
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-4 col-xs-4"> 
        <div class="vi-display-text">{{currentItem.display}}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-4 col-xs-4"> 
        <div class="vi-example-text">{{currentItem.example}}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-4 col-xs-4 jumbled-word-container">
        <jumbled-word word="currentItem.answer" input="userAnswer" active="hintUsed" letter-click="hintLetterClick(letter)"></jumbled-word>
      </div>
    </div>
    <!--<div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <button type="submit" class="btn btn-primary form-control">Submit Answer</button>
      </div>
    </div>-->
  </form>
</div>
<div ng-show="items.length == 0">
  <h3>There are no more items to be reviewed.</h3>
</div>