<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" ui-sref="root.home">vocabularger</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav navbar-right" ng-controller="NavbarCtrl">
          <li ng-repeat="x in navBarItems" ng-class="{active: currentStateName === x.sref}" ng-if="x.viewable()">
            <a ui-sref="{{x.sref}}">{{x.title}}</a>
          </li>
          <li role="separator" class="divider"></li>
          <li ng-repeat="x in navBarTasks" ng-click="x.clicked()">
            <a style="{{x.style}}">{{x.title}}</a>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</div>

<div class="container">
<div ui-view></div>
</div>

<div class="footer">
  <div class="container">
    <p>Tyler Forden - 2017</p>
  </div>
</div>